$color1: #6751b9;

.project-container {
    margin: 4rem 0;
    position: relative;
}

.project-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.arrow-left, .arrow-right {
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color1;
    border-radius: 0.65rem;
    border: 1.5px solid $color1;
    background: #130f2a;
    position: absolute;
    top: 55%;
    z-index: 2;
    cursor: pointer;
}

.arrow-left span, .arrow-right span {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.arrow-left {
    left: -2rem;
}

.arrow-right {
    right: -2rem;
}

@media screen and (max-width:1025px) {
    .arrow-left {
        left: 0rem;
    }

    .arrow-right {
        right: 0rem;
    }
}

@media screen and (max-width: 768px) {
    .project-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .arrow-left {
        left: -1rem;
    }

    .arrow-right {
        right: -1rem;
    }
}

@media screen and (max-width: 426px) {
    .project-container h5 {
        text-align: center;
    }
}