$color1: #6751b9;

.project-card {
  background: #130f2a;
  border-radius: 0.65rem;
  border: 1.5px solid $color1;
  padding: 1.5rem;
  margin: 0 1rem;
}

.project-card h6 {
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.summary-list {
  margin-left: 40px;
}

.project-link {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 400;
  background: rgba(103, 81, 185, 0.5);
  border-radius: 0.3rem;
  padding: 0.4rem 0.6rem;
  margin-bottom: 1.3rem;
  margin-right: 1rem;
  color: white;

  &:hover {
    background: #ac96ff;
    transform: translateX(-2px);
    box-shadow: 0px 0px 20px rgba(170, 63, 241, 0.3);
  }
}

.project-card ul li {
  list-style: none;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  position: relative;

  &::after {
    content: " ";
    width: 0.5rem;
    height: 0.5rem;
    background-color: $color1;
    position: absolute;
    border-radius: 0.5rem;
    top: 0.35rem;
    left: -1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .project-card {
    margin: 0;
  }

  .project-card h6 {
    font-size: 0.95rem;
  }

  .project-card ul li {
    font-size: 0.75rem;
  }
}
