// background: #0f0c29;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$shadow_color: rgba(0,0,0,0.5);

.icon.html {
    color: #e34c26; /* HTML5 color */
  }
  
.icon.css {
    color: #264de4; /* CSS3 color */
}

.icon.js {
    color: #f0db4f; /* JavaScript color */
}

.icon.node {
    color: #68a063; /* Node.js color */
}

.icon.react {
    color: #61dafb; /* React color */
}

.userImg {
    border-radius: 10%;
    height: 400px;
    width: 25rem;
    transition: all 0.3s ease;
}

.hero-container {
    display: flex;
    align-items: center;
    position: relative;

    &::after, &::before {
        content: " ";
        width: 28.125rem;
        height: 28.125rem;
        border-radius: 28.125rem;
        background: #7c66e3;
        position: absolute;
        z-index: -1;
        filter: blur(180px);
    }

    &::after {
        top: -3rem;
        left: -5rem;
    }
    &::before {
        bottom: 2rem;
        left: 50rem;
    }
}

.hero-content {
    flex: 1;
}

.hero-content h2 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

.hero-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.hero-img > div {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.tech-icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.65rem;
    background: rgb(14, 1, 54);
    border: 1.5px solid #6852ba;
}

.tech-icon .icon {
    width: 3rem;
    height: auto;
    transition: all 0.3s ease;
}

.userImg:hover,
.tech-icon .icon:hover {
    transform: translateY(-0.5rem);
}

.userImg {
    position: relative;
    animation: shadowPulse 3s infinite;
}
  
@keyframes shadowPulse {
    0% {
        box-shadow: 0 0 10px 0px $shadow_color;
    }
    50% {
        box-shadow: 0 0 20px 10px $shadow_color;
    }
    100% {
        box-shadow: 0 0 10px 0px $shadow_color;
    }
}

@media screen and (max-width: 1361px) {
    .hero-container::after, 
    .hero-container::before {
        width: 24rem;
        height: 24rem;
    }

    .hero-container::after {
        top: 2rem;
        left: -1rem;
    }

    .hero-container::before {
        bottom: 0rem;
        left: 38rem;
    }
}

@media screen and (max-width: 1025px) {
    .hero-content h2 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .hero-content p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .userImg {
        width: 20rem;
        height: 350px;
    }

    .tech-icon {
        width: 4rem;
        height: 4rem;
    }

    .tech-icon .icon {
        width: 2.5rem;
    }

    .hero-container::after, 
    .hero-container::before {
        width: 20rem;
        height: 20rem;
    }

    .hero-container::after {
        top: 2rem;
        left: -2rem;
    }

    .hero-container::before {
        bottom: 0rem;
        left: 35rem;
    }
}

@media screen and (max-width: 903px) {
    .hero-container::after, 
    .hero-container::before {
        width: 19rem;
        height: 19rem;
    }

    .hero-container::after {
        top: 2rem;
        left: -1rem;
    }

    .hero-container::before {
        bottom: 0rem;
        left: 27rem;
    }
}

@media screen and (max-width: 768px) {
    .hero-container {
        flex-direction: column;
    }

    .hero-img {
        margin: 2rem 0 2rem 0;
    }

    .hero-container h2 {
        margin-top: 3rem;
    }

    .hero-content h2, .hero-content p {
        width: auto;
        text-align: center;
    }

    .hero-container::after, .hero-container::before {
        content: " ";
        width: 18rem;
        height: 18rem;
    }

    .hero-container::after {
        top: 0rem;
        left: 0rem;
    }

    .hero-container::before {
        bottom: 5rem;
        left: 18rem;
    }
}

@media screen and (max-width: 600px) {
    .hero-content h2 {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .hero-content p {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    .hero-img {
        gap: 1rem;
    }

    .hero-img > div {
        gap: 1rem;
    }

    .userImg {
        width: 16rem;
        height: 18rem;
    }

    .tech-icon {
        width: 3.3rem;
        height: 3.3rem;
    }

    .tech-icon .icon {
        width: 2rem;
    }

    .hero-container::after, 
    .hero-container::before {
        width: 14rem;
        height: 14rem;
    }

    .hero-container::after {
        top: 2rem;
        left: 2rem;
    }

    .hero-container::before {
        bottom: 3rem;
        left: 9rem;
    }
}

@media screen and (max-width: 391px) {
    .hero-container::after, 
    .hero-container::before {
        width: 10rem;
        height: 10rem;
    }
    
    .hero-container::before {
        bottom: 4rem;
        left: 7rem;
    }
}

@media screen and (max-width: 340px) {
    .tech-icon {
        width: 3rem;
        height: 3rem;
    }
}