.contact-container {
  margin: 4rem 0;
  margin-bottom: 2rem;
  position: relative;
}

.contact-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.contact-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .contact-content {
    flex-direction: column;
    gap: 0rem;
  }

  .contact-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .contact-container h5 {
    text-align: center;
  }
}
