.hobbies-container {
  padding: 2rem;
}

.hobbies-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}

.hobbies-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 426px) {
  .hobbies-heading {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
}
