.footer {
    font-size: 1rem;
    text-align: center;
    background: linear-gradient(90deg, #3D3072 0%,#423477 100%);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 0.5rem;
}

.footer-icon {
    transition: all 0.3s ease;

    &:hover {
        width: 2rem;
        height: 2rem;
    }
}
