.container {
  max-width: 1300 !important;
  margin: auto;
  margin-top: 100px;
  position: relative;
  padding-left: 7rem;
  padding-right: 7rem;
}

.progress-bar {
  position: fixed;
  z-index: 99;
  // top: 0;
  margin-top: 7.8px;
  left: 0;
  right: 0;
  height: 10px;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
  transform-origin: 0%;
  // opacity: 60%;
}

@media screen and (max-width: 1300px) {
  .container {
    padding: 0 1.5rem;
  }
}