.timeline-main {
  display: flex;
  flex-direction: row;
}

.timeline-link {
  text-decoration: none;
  color: #6751b9;
  margin-top: 0.25rem;
  margin-left: 0.4rem;

  :hover {
    color: rgba(103, 81, 185, 0.5);;
    width: 1.2rem;
    height: 1.2rem;
  }
}

.timeline-date {
  color: white;
}

.timeline-points {
  font-size: 1rem !important;
  margin-left: 0.2rem;
  color: #6751b9;
}

.timeline-description {
  font-size: 0.85rem !important;
  color: white;
}

@media screen and (max-width: 1170px) {
  .timeline-points {
    margin-left: 0.6rem;
  }

  .timeline-description {
    font-size: 0.8rem !important;
  }
}